#back-top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 50px;
    height: 50px;
    background: #74101a;
    border-radius: 2px;
    // border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    user-select: none;
    z-index: 1000;

    img {
        width: 16px;
        height: auto;
    }
}

.footer {
    background-color: #7a1318;
    &-home {
        background-color: #250201;
        .test-version {
            border: 1px solid rgba(239, 231, 182, 0.12) !important;
            color: #efe6b4 !important;
        }
       

        .footer-logo__icon {
            &-home {
                display: block;
            }
            &-default {
                display: none;
            }
        }
        .footer-social {
            &__link {
                color: #efe6b4 !important;
            }
        }
        .heading-secondary {
            &__title {
                border-left: 2px solid #efe6b4;
                color: #fff;
                
            }
        }
        .list-text {
            .list-item {
                &__icon {
                    color: #efe6b4 !important;
                }
                &__txt {
                    color: #fff !important;
                }
            }
        }
        
        .footer-primary__bot {
            .list-text {
                // color: rgba(255, 255, 255, 0.64);
                color: #fff;
            }
        }
    }
     .heading-secondary {
            &__title {
                border-left: 2px solid #efe6b4;
                color: #fff;
                
            }
        }
        .list-text {
            .list-item {
                &__icon {
                    color: #efe6b4 !important;
                }
                &__txt {
                    color: #fff !important;
                }
            }
        }
        
        .footer-primary__bot {
            .list-text {
                // color: rgba(255, 255, 255, 0.64);
                color: #fff;
            }
        }
    &-logo {
        &__icon {
            width: auto;
            height: 64px;

            &-home {
                display: none;
            }
        }
    }

    &-primary {
        .test-version {
            border: 1px solid rgba(116, 16, 26, 0.12);
            border-radius: 16px;
            padding: 4px 12px;
            margin-top: 12px;
            margin-bottom: 32px;
            text-align: center;
            display: inline-flex;
            color: #74101A;
        }

        .footer-social {
            display: flex;
            align-items: center;
            gap: 16px;
            grid-gap: 16px;
            &__link {
                color: #74101A;
                display: flex;
                align-items: center;
            }
        }
        .list-text {
            .list-item {
                &__icon {
                    color: #A60E1D;
                }
                &__txt {
                    color: #fff;
                }
            }
        }

        &__bot {

        }
    }
}