.ads-right {
    img {
        width: 100%;
    }
}
.ads-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



.block-primary {
    display: flex;
    &__left {
        flex-shrink: 0;
        max-width: 264px;
        width: 100%;
    }

    &__center {
        flex: 1;
        padding-right: 24px;
        padding-left: 24px;
        max-width: calc(100% - 408px - 264px);
        width: 100%;
    }
    &__right {
        flex-shrink: 0;
        max-width: 408px;
        width: 100%;
    }
}
.block-secondary {
    display: flex;

    &__left {
        flex: 1;
        padding-right: 24px;
        max-width: calc(100% - 400px);
        width: 100%;
    }
    &__right {
        flex-shrink: 0;
        max-width: 400px;
        width: 100%;
        padding-left: 24px;
    }
}
.video-16x9 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.free-slide {
    .swiper-slide {
        width: auto !important;
    }
}

.arrow-slide-primary {
    .splide {
        &__arrow {
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, .3);
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            border-radius: 50%;

            svg {
                fill: #EFE7B6;
                width: 15px;
                height: 15px;
            }
            &--prev {
                left: 5px;
            }
            &--next {
                right: 5px;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, .3);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border-radius: 50%;
    
        svg {
            fill: #EFE7B6;
            color: #EFE7B6;
            width: 15px;
            height: 15px;
        }
    }
    // .swiper-button-prev {
    //     left: -20px;
    // }
    // .swiper-button-next {
    //     right: -20px;
    // }
}
.arrow-slide-secondary {
    .swiper-button-next, .swiper-button-prev {
        color: #1F1F1F;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        border-radius: 50%;
        border: 1px solid #f0f0f0;
        background: #FFF;
        box-shadow: 0 2px 8px -2px rgba(21, 21, 21, .08), 0 6px 12px -2px rgba(21, 21, 21, .08);
        z-index: 10;
    
        svg {
            width: 8px !important;
        }
    }
    .swiper-button-prev {
        left: -20px;
    }
    .swiper-button-next {
        right: -20px;
    }
}
.pagi-red {
    .swiper-pagination-bullet {
        background: #e0e0e0;
        width: 20px;
        height: 4px;
        border-radius: 0;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #c65c31;
        
    }
}




.same-height {
    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .article {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .article-img {
        flex-shrink: 0;
    }

    .article-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.hidden.active {
    display: block;
}

.hidden {
    display: none;
}



.heading-primary {
    &__title {
        padding-left: 12px;
        border-left: 2px solid #A60E1D;
        
    }
} 
.heading-secondary {
    &__title {
        border-left: 2px solid #A60E1D;
        
    }
}
.heading-tertiary {
    &__title {
        padding-left: 12px;
        border-left: 3px solid rgb(198, 81, 28);
        
    }
    &__slide {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        flex: 1;
        justify-content: flex-end;
    }
    &__list {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        max-width: 300px;
    }
    &__item {
        flex: 0 0 auto;
        white-space: nowrap;
        scroll-snap-align: start;
    }
    &__control {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 10px;

        .button-prev,
        .button-next {
            width: 36px;
            height: 36px;
            border-radius: 6px;
            background-color: transparent;
            transition: all 0.2s ease;
            padding: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            cursor: pointer;

            img {
                width: 20px;
                height: auto;
            }

            &:hover {
                background-color: #f0f4f8;
            }
        }
    }

} 
.play-medium {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
}
@keyframes moveUpDown {
    0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
/*-------------------------------------------------*/
.block-one {
    position: relative;
    height: 100%;
    &__bg {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
    &__quote {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        width: 48px;
        height: 48px;
    }
    &__content {
        backdrop-filter: blur(12px);
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
    }
    &__top {
        .article-content {
            opacity: 0;
            height: 0;
        }

        .splide {
            &__track {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &__slide {
                transition: opacity 0.3s ease-in-out, scale 0.3s ease-out, -webkit-transform 0.3s ease-out;
                &.is-active.is-visible {
                    transform: scale(1.3);
                    z-index: 2;
                }
            }
            &__arrow {
                width: 36px;
                height: 36px;
                background-color: rgba(0, 0, 0, .3);
                -webkit-backdrop-filter: blur(3px);
                backdrop-filter: blur(3px);
                border-radius: 50%;

                svg {
                    fill: #EFE7B6;
                    width: 15px;
                    height: 15px;
                }
                &--prev {
                    left: -10px;
                }
                &--next {
                    right: -10px;
                }
            }
        }
    }

   
}
.block-two {
    &:last-child {
        margin-bottom: 0;
    }
    .article {
        flex-wrap: wrap;
        white-space: unset;
    }
    .article-see {
        &-more {
            height: stretch;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
.block-three {
    &:last-child {
        margin-bottom: 0;
    }
}

.block-four {
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}
.block-five {}
.block-six {
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}


/*-------------------------------------------------*/
.section-primary {
    &__bg {
        position: absolute;
        inset: 0;
         
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slide {

        .embla {
            overflow: hidden;
        }

        .embla__container {
            display: flex;
            will-change: transform;
            backface-visibility: hidden;
        }

        .embla__slide {
            position: relative;
            flex: 0 0 18%;
            min-width: 0;
            transition: all 1s ease;
            cursor: pointer;
        }

        .embla__slide.is-active {
            flex: 0 0 28%;

            .slide-hero {
            background: url('../images/webp/bg-item-active.webp') center center / cover no-repeat;

            &__icon {
                top: auto;
                bottom: 0;
            }

            &__content {
                max-height: 500px;
            }

            &__title {
                height: 56px;
            }
        }
        }

        .slide-hero {
            width: 100%;
            height: 780px;
            background: url('../images/bg-item.png') center center / cover no-repeat;
            position: relative;
            padding: 1px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            &__line {
                width: 2px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &__bg {
                position: relative;
                overflow: hidden;
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
            }
            &__img {

            }
            &__icon {
                position: absolute;
                top: 90px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                width: 100%;
                background: transparent;
                -webkit-animation: moveUpDown 1s ease-in-out infinite alternate;
                animation: moveUpDown 1s ease-in-out infinite alternate;

                img {
                    width: 128px;
                }
            }

            &__content {
                max-height: 67px;
                flex-shrink: 0;
                width: 100%;
                position: relative;
                transition: all 1s ease;
            }


            &__title {
                position: relative;
                height: 67px;
                width: 100%;
                background: url('../images/svg/topic.svg');
                -webkit-background-size: contain;
                background-size: contain;
                -webkit-background-position: center;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 1s ease;
            }
            &__list {
                width: 100%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                flex-direction: column;
            }
            &__item {
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                height: 46px;
                flex-direction: column;
                transition: all 1s ease;

            }

            &__link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0;

                &:hover {
                    color: #EFE6B4;
                }
            }
            &__horizontal-line {

                img {
                    width: 100%;
                    height: 1px;
                }
            }
        }

        
        
    }
}
.section-secondary {
}
.section-tertiary {
}
.section-quaternary {
}
.section-quinary {
    &__center {
        padding-left: 24px;
        border-left: 1px solid rgba(255, 255, 255, 0.12);

        .article {
           
            &-inner {
                padding-bottom: 24px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            }
            border-right: 1px solid rgba(255, 255, 255, 0.12);
            padding-right: 24px;

            &:nth-child(n + 4) {
                .article-inner {
                    border-bottom: none;
                }
            }
        }
    }
}
.section-senary {
}
.section-septenary {
}
.section-octonary {
}
.section-nonary {
}
.section-decenary {
}
.section-eleventh {
}
.section-twelfth {
}
.section-thirteenth {
}
.section-fourteenth {
}
